@import '../index.scss';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: $global-light-green;
    margin-bottom: 0;
    width: 100%;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 75px;
      margin: 0 2px 0 8px;
      transform: rotate(45deg);
    }
    
    h1 {   
      color: #53a554;
      outline: black;
      margin: 0px 0 -19px 0;
      padding: 0;
      font-size: 101px;
      height: 89px;
      line-height: 63px;
    }

    h4 {
        margin-top: 0;
        padding-bottom: 15px;
    }
}

main {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
        margin: 10px 25px;
        width: 100px;
    }
}