@import '../index.scss';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: $global-light-green;
    margin-bottom: 0;
    width: 100%;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 75px;
      margin: 0 2px 0 8px;
      transform: rotate(45deg);
    }
    
    h1 {   
      color: #53a554;
      outline: black;
      margin: 0px 0 -19px 0;
      padding: 0;
      font-size: 101px;
      height: 89px;
      line-height: 63px;
    }

    h4 {
        margin-top: 0;
        padding-bottom: 15px;
    }
}

main {
    padding: 20px;

    span {
      color: $global-green;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 14px;
    }
}

#toggleBtn {
  position: absolute;
  float: left;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-btns {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 25px;

    button {
        all: unset;
        margin: 0px 25px;
        width: 100px;
        height: 50px;
        border: 5px solid $global-green;
        text-align: center;
        border-radius: 4px;
        color: $global-green;
        text-transform: uppercase;
        transition: .2s;

        &:hover {
          cursor: pointer;
          border-color: $global-light-green;
          transition: .2s;
        }
    }
}

#toggleBox {
  vertical-align: bottom;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 75px;
  height: 37px;
  background: #9a9a9a61;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 33px;
  height: 33px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: $global-light-green;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 75px;
}

#fixed-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  filter: drop-shadow(0 5px 7px rgba(54, 54, 54, 0.221));
}

#scroll-section {
  position: relative;
  margin-top: 515px;
}
