body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    background-color: rgb(229, 158, 15);
    margin-bottom: 10px;
    
    h1 {
        margin: 0;
        padding: 30px 0;
    }

    h4 {
        margin-top: 0;
        padding-bottom: 15px;
    }
}

main {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
        margin: 10px 25px;
        width: 100px;
    }
}